.ccm-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
}

.ccm-modal-wrapper .ccm-modal {
  background: white;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -256px;
  width: 512px;
  padding: 20px;
  box-sizing: border-box;
  border: 3px solid #222;
  border-radius: 4px;
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 404px;
}

.ccm-modal-wrapper a#ccm-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  text-decoration: none;
}

.ccm-modal-wrapper a#ccm-close span{ z-index: -1; }
.ccm-modal-wrapper a#ccm-close::after { 
  content: "\000D7"; 
  font-size: 24px;
  font-weight: 600;
  color: #555;
  position: relative;
  border-radius: 3px;
  border: 1px solid #ddd;
  line-height: 18px;
  width: 24px;
  height: 24px;
  display: block;
  text-align: center;
  text-indent: 1px;
}

.ccm-modal-wrapper a#ccm-close:hover::after { 
  background: #333;
  border-color: #333;
  color: #fff;
}

.ccm-modal-wrapper .ccm-modal header h1{
  font-size: 28px;
  line-height: 34px;
  font-weight: 200;
  margin-bottom: 16px;
  max-width: 15em;
}

.ccm-modal-wrapper .ccm-modal header p{ 
  color: #888;
  font-weight: 600; 
  font-size: 12px;
  position: absolute;
  right: 0;
  bottom: 2px;
}

.ccm-modal-wrapper .ccm-modal header{
  margin-bottom: 18px;
  border-bottom: 3px solid #444;
  position: relative;
}

.ccm-modal-wrapper .ccm-modal label,
.ccm-modal-wrapper .ccm-modal input[type=text],
.ccm-modal-wrapper .ccm-modal input[type=email],
.ccm-modal-wrapper .ccm-modal select{ display: inline; }

.ccm-modal-wrapper .ccm-modal input[type=text],
.ccm-modal-wrapper .ccm-modal input[type=email],
.ccm-modal-wrapper .ccm-modal select{
  -webkit-appearance: none;
  padding: 4px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 2px 4px 8px;
  font: inherit;
  background: none;
}

.ccm-modal-wrapper .ccm-modal input[type=text],
.ccm-modal-wrapper .ccm-modal input[type=email]{
  border-top-color: #b0b0b0;
  border-left-color: #bbb;
  box-shadow: 0 1px 1px -1px rgba(0,0,0,0.2) inset;
}

.ccm-modal-wrapper .ccm-modal .field{
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.ccm-modal-wrapper .ccm-modal .field span.label-text{
  position: absolute;
  z-index: -2;
}

.ccm-modal-wrapper .ccm-modal .field-name input,
.ccm-modal-wrapper .ccm-modal .field-email input{ width: 11em; }

.ccm-modal-wrapper .ccm-modal .field-select{ margin-left: -0.4em; }
.ccm-modal-wrapper .ccm-modal .field-select select{ 
  background: linear-gradient(#fff, #f3f3f3);
  padding-right: 32px; 
  position: relative;
  z-index: 1;
}


.ccm-modal-wrapper .ccm-modal .field-select::after{
  content: "";
  border: 6px solid black;
  position: absolute;
  right: 18px;
  bottom: 14px;
  margin-bottom: 2px;
  border-color: #aaa transparent transparent transparent;
  z-index: 1;
}

.ccm-modal-wrapper .ccm-modal   .field-select:hover select{ border-color: #aaa; }
.ccm-modal-wrapper .ccm-modal  .field-select:hover::after{ 
  border-top-color: #888; 
}


.ccm-modal-wrapper .ccm-modal button,
.ccm-modal-wrapper .ccm-modal .button {
  background: none;
  border: 2px solid;
  color: #008c52;
  font: inherit;
  font-weight: 600;
  padding: 10px 12px;
  margin: 28px 0 0 -2px;
  line-height: 16px;  
  cursor: pointer;
  text-decoration: none;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
}

.ccm-modal-wrapper .ccm-modal button:hover {
  background: #00834d;
  border-color: #00834d;
  color: white;
  box-shadow: 0 1px 0 #f3f3f3;
}

.ccm-modal-wrapper .ccm-modal  button:active {
  color: #7aa79d;
  background: #006e52;
  border-color: #006e52;
  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}